<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BBWT.Domain.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=keltbray-piling-hsqe;Integrated Security=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlClient" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BBWT.Domain.Settings>
      <setting name="ProblemNotificationMessage" serializeAs="String">
        <value>&lt;div style='font-size: 10.0pt; font-family:Calibri,sans-serif;'&gt;
  &lt;span&gt; Report a Problem: &lt;/span&gt;&lt;span style='color: Red;'&gt; &amp;nbsp;#$DateTime# &lt;/span&gt;
  &lt;br/&gt;
  &lt;span style='color: Red;'&gt; User: &lt;/span&gt;&lt;span style='color: Red;'&gt; &amp;nbsp;#$ProblemUserName# &lt;/span&gt;
  &lt;br/&gt;
  &lt;span&gt; User Email: &lt;/span&gt;&lt;span&gt; &amp;nbsp;#$ProblemUserEmail# &lt;/span&gt;
  &lt;br/&gt;
  &lt;span style='color: Red;'&gt;Time of Problem: &lt;/span&gt;&lt;span style='color: Red;'&gt; &amp;nbsp;#$ProblemDateTime# &lt;/span&gt;
  &lt;br/&gt;
  &lt;br/&gt;
  &lt;span&gt; Problem Description: &lt;/span&gt;&lt;span&gt; #$ProblemDescription# &lt;/span&gt;
  &lt;br/&gt;
  &lt;span&gt; Problem Severity: &lt;/span&gt;&lt;span&gt; #$ProblemSeverity# &lt;/span&gt;
  &lt;br/&gt;
  &lt;br/&gt;
  &lt;span&gt; #$ProblemPreviousPage# &lt;/span&gt;
  &lt;br/&gt;
  &lt;span&gt; #$ProblemErrorMessages# &lt;/span&gt;
&lt;/div&gt;</value>
      </setting>
      <setting name="ProblemNotificationSubject" serializeAs="String">
        <value>Report a problem: #$DateTime#</value>
      </setting>
      <setting name="NewUserNotificationMessage" serializeAs="String">
        <value>&lt;div style='font-size: 10.0pt; font-family:Calibri,sans-serif;'&gt;
  &lt;span&gt;Hello #$UserName#&lt;/span&gt;&lt;br /&gt;
  &lt;br /&gt;
  &lt;span&gt;We would like to welcome you to #$ApplicationName#.&lt;/span&gt;&lt;br /&gt;
  &lt;span&gt;Please go to your account page and enter the requested information.&lt;/span&gt;&lt;br /&gt;
  &lt;span&gt;We're happy to have you with us at #$ApplicationName#.&lt;/span&gt;&lt;br /&gt;
  &lt;br /&gt;
  &lt;span&gt;Best regards, #$ApplicationName# team.&lt;/span&gt;
&lt;/div&gt;
</value>
      </setting>
      <setting name="NewUserNotificationSubject" serializeAs="String">
        <value />
      </setting>
    </BBWT.Domain.Settings>
  </applicationSettings>
</configuration>